@import url('https://fonts.googleapis.com/css?family=Questrial:700|Questrial:400');

/* Palette: https://www.realtimecolors.com/?colors=e5ecfa-040a15-82aee8-861936-dd7a40&fonts=Questrial-Questrial */

:root[data-theme="light"] {
    --text: #050c1a;
    --background: #eaf0fb;
    --primary: #17437d;
    --secondary: #e67996;
    --accent: #bf5b22;
}
:root[data-theme="dark"] {
    --text: #e5ecfa;
    --background: #040a15;
    --primary: #82aee8;
    --secondary: #861936;
    --accent: #dd7a40;
}

body {
  font-family: 'Questrial';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Questrial';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}