<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>PARENT - Public Dashboard</title>
        <link rel="stylesheet" href="Styles/Basic.css"/>
        <script src="https://kit.fontawesome.com/e022f2359b.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <b>PARENT</b>
            <div class="spacer"></div>
            <button>Login to Admin dashboard</button>
        </header>
        <main>
            <section id="hero">
                <h1>PARENT</h1>
                <p>This is the local public(ish) dashboard for this network's instance of PARENT.</p>
            </section>
        </main>
        <footer>
            <i class="fa-brands fa-github"></i>
        <p><a href="https://github.com/QuatschVirus/PARENT">PARENT</a>, short for <i>Parents Alerts Reaching Every Networked Teen</i>, is a local network communication solution designed for parents to easily reach their (probably teenage) children.</p>
        </footer>
    </body>
</html>